 body {
    margin: 0;
    padding: 0 20px;
 }     
 
 /* -----------------
      Header/Banner section
      ------------------- */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:30px;
   
    width: 90%;
    padding: 30px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: black;
}
.banner-title {
    margin-bottom: 20px;  
    padding-top: 20px;
    padding-left: 50px;
    color: aliceblue;
}

.title {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}

.link-button {
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #DD0000; 
    border: 1px solid #DD0000; 
    text-decoration: none; 
    transition: all 1.5s;
    font-weight: bolder;
}
.watch-live {
    padding-right: 10px;
}

.link-button:hover {
    transform: scale(1.3);
    background: #000;
}

.banner-img {
    padding-top: 20px;
    padding-left: 100px;  
}
.banner {
    width: 100%;
    height: 100%;
}
     /* -----------------
      Header/Banner section End
         ------------ */

         /* --------------
         .blogs-section
         ------------- */
.main-blogs {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* padding-left: 58px;
    padding-right: 100px;  */
          /* need to change */
   
}

.blog-img {
    width: 100%;
}
.select-blog {
    height: 312px;
    width: 312px;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border-radius: 10px;
}
.btn-1, .btn-2{
    text-decoration: none;
    padding: 20px 30px;
    color: black;
    background-color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 5px;
}
.btn-3 {
    text-decoration: none;
    padding: 20px 30px;
    background-color: #DD0000;
    color: azure;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 5px;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.blog {
    border: 1px solid dimgray;
    border-radius: 15px;  
}
.match-img {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.transfer-btn {
    padding: 10px 30px;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    margin: 10px 20px;
}
.transfer-wri {
    font-size: larger;
    font-weight: bold;
    padding-left: 10px ;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* hidden-Btn secret dont look plz*/
.hidden-btn {
    text-align: center;
    align-items: center;
    margin: 20px;  
}
.iamhidden {
    background-color: #e65757;
    color: bisque;
    padding: 10px 20px;
    border-radius: 5px;
    display:none ;
}

/* -----------------
footer-section
-------------------- */
.footer-section, h1{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    background-color: black; 
    padding-bottom: 50px;
}

.links {
    padding-top: 30px;
}
.about-us {
   text-decoration: none;
   color: aliceblue;
   font-size: 15px;
   font-weight: bold;
   margin: 0 50px; 
}

/* ----------------------------
 responsive Section / mediaquary
------------------------------------ */


/* -------------------
mediam device / tablet-
------------------------*/
@media only screen and (min-width:689px)  and (max-width:992px){
 

    footer {
        padding: 0;
        max-width: 99%;
        margin: 0;
        overflow: hidden;
    }

    .iamhidden {
        display: block;   
    }
    .main-blogs {
        display: flex;
        flex-direction: column;
    }
    .blogs{
        grid-template-columns: 1fr 1fr;
    }
    .select-blog {
        display: flex;
        flex-direction: row;
        background-color: white;
        width: 100%;
        height: 100%;
    }
   .btn-1, .btn-2, .btn-3 {
    border: 1px solid gray;
    margin-left: 5pxs;
   }
}

/* ----------------
     small Device / Mobile 
--------------------*/
@media only screen and (max-width:688px) {
    .header {
        display: flex;
        flex-direction: column;
    }
   
    .main-blogs {
        display: flex;
        flex-direction: column;
        /* padding-left: 150px;       */
    }
    .blogs {
        display: flex;
        flex-direction: column;
        
    }
    .select-blog {
        background-color: none;
        background-color: white;
    }
    .btn-1, .btn-2, .btn-3 {
        border: 1px solid gray;
        margin-left: 5pxs;
       }
    .links {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
}


